# DSC 80: Lab 06

### Due Date: Tuesday May 11th, 11:59 PM

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab*.py` file, that will be imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab**.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [294]:
import lab06 as lab

In [295]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import time

In [296]:
import requests
import bs4
import json

# Basic HTML tags practice

**Question 1**

Create a very basic `html` file that satisfies the following properties:

1. Has `<head>` and `<body>` tags.
2. Has a title
3. Inside the body tags:
    * At least two headers
    * At least three images:
        * At least one image must be a local file;
        * At least one image must be linked to online source; 
        * At least one image has to have default text when it cannot be displayed.
    * At least three references (hyperlinks) to different web pages;
    * At least one table with two columns.
    
        
   
4. Save your work as `lab06_1.html` in the same directory as `lab06.py`, make sure it loads in the browser and do not forget to submit it.
5. **Do not forget to submit all data files needed to display your page.**

**Note:** You can toy with (basic) HTML in the cells of a notebook, using either a "markdown cell" or by using the `IPython.display.HTML` function. However, be sure to open your saved file in a browser to be sure the page displays properly!

**Note:** If you work within Jupyter Notebook, you can later copy your text into a text editor and save it with the .html extension.

# Scraping an Online Bookstore

**Question 2**

Browse through the following fake on-line bookstore: http://books.toscrape.com/. This website is meant for toying with scraping.

Scrape the website, collecting data on all books that have **at least a four-star rating**, with a price **under £50** and belong to the book categories you want. You should collect the data in a dataframe as below (if you get an encoding error on your prices columns, like you see in the table below, don't worry about it):
<img src="data/bookdata.png">


Do this using the following steps:
1. Create a function `extract_book_links` that takes in the content of a book-listing page (a string of html), and returns a list of urls of book-detail pages that satisfy the requirements on "*at least* a four-star rating, and prices are *under* £50". 

2. Create a function `get_product_info` that takes in the content of a book-detail page (a string of html), a variable `categories` that is a list of book categories you want. If this input book is in the categories you want, returns a dictionary corresponding to a row in the dataframe in the image above (where the keys are the column names and the values are the row values); else, skip this book since this is not the book you want (ie. return None).

3. Create a function `scrape_books` of a single variable `k` that scrapes the first `k` pages of the bookstore (as determined by starting at the url above and clicking on the 'next' button),a variable `categories` that is a list of book categories you want, and returns a dataframe of books as the picture above. (Note: make sure the books returned satisfy the requirements set in part 1 about rating and price).


*Note:* Your function should take under 180 seconds to run through the entire bookstore.

*Note:* Don't worry about type casting (ie changing number of reviews to an int)

In [21]:
fp = os.path.join('data', 'products.html')
text = open(fp, encoding='utf-8').read()

In [22]:
bs = bs4.BeautifulSoup(text)

In [23]:
lab.extract_book_links(text)

['seven-brief-lessons-on-physics_219/index.html',
 'scarlet-the-lunar-chronicles-2_218/index.html',
 'saga-volume-3-saga-collected-editions-3_216/index.html',
 'running-with-scissors_215/index.html',
 'rise-of-the-rocket-girls-the-women-who-propelled-us-from-missiles-to-the-moon-to-mars_213/index.html',
 'ready-player-one_209/index.html']

In [24]:
fp = os.path.join('data', 'Frankenstein.html')
text = open(fp, encoding='utf-8').read()

In [25]:
q2_2 = lab.get_product_info(text,['Default'])

In [26]:
lab.scrape_books(5, ['Romance', 'Mystery'])

,Availability,Category,Description,Number of reviews,Price (excl. tax),Price (incl. tax),Product Type,Rating,Tax,Title,UPC
0,In stock (20 available),Mystery,"WICKED above her hipbone, GIRL across her hear...",0,Â£47.82,Â£47.82,Books,Four,Â£0.00,Sharp Objects,e00eb4fd7b871a48
1,In stock (19 available),Romance,"A Michelin two-star chef at twenty-eight, Viol...",0,Â£25.27,Â£25.27,Books,Five,Â£0.00,Chase Me (Paris Nights #2),c2e46a2ee3b4a322
2,In stock (19 available),Romance,"No matter how busy he keeps himself, successfu...",0,Â£34.53,Â£34.53,Books,Five,Â£0.00,Black Dust,00bfed9e18bb36f3

# API Requests
**Question 3**

You trade stocks as a hobby. As an avid pandas coder, you figured it is best to calculate some statistics by pulling data from a public API (https://financialmodelingprep.com/developer/docs/#Stock-Historical-Price). Specifically, "Historical price with change and volume interval".

Some definitions (these are the ones you need to know):
- open: The opening price of a stock at the beginning of a trading day
- close: The closing price of a stock at the end of a trading day
- volume: The total number of shares being traded in a day
- percent change: difference in price with respect to the original price (in percentages)


1. Create a function `stock_history` which takes in the stock code (`ticker`) as a string, `year` and `month` as integers, and return a dataframe which has the price history for that stock in that month (include all columns).

2. Create a function `stock_stats` that takes in the output dataframe from `stock_history` and output the stock price change as a percentage and a rough total transaction volume **in billion dollars** for that month. Assume that on average, shares are traded at the midpoint price of high and low for that day. Return these two values as a tuple in a readable format: reserve 2 decimal points for both values and add a plus or minus sign at the front of the percent change. 
$$ \text{Total Transaction Volume (in dollars)} = \text{Volume (number of shares traded)} \times \text{Price} $$

*Example*: If \\$BYND opens at \\$80 and closes at \\$120 with a volume of 1 million, its percent change for the day is $(\$120-\$80) \div \$80 = +50.00\%$. And the estimated total transaction volume is: $(\$80+\$120) / 2 \times 10^6 = 0.10\text{B}$.


Hint: [pd.date_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html), 

*Note:* Make sure you read the API documentation if you get stuck!

*Note 2:* In order to make successful requests, you will need an API key. In order to get one, you will need to sign up to the website. Once signed up, you can use the API key that comes with the free plan. It has a limit of 250 requests per day, which should be more than enough. In the code below, replace `your_key` when making requests.

In [392]:
q3_1 = lab.stock_history('AAPL', 2019, 6)

In [393]:
q3_2 = lab.stock_stats(q3_1)
q3_2

('+12.71%', '99.05B')

# Comment Threads

**Question 4**

As a hacker, you get your daily dose of tech news on [Hacker News](https://news.ycombinator.com/). The problem now is that you don't have internet access on your phone in your morning commute to work, so you want to save the interesting stories' comments thread beforehand in a flat file source like csv. You find their API documentation ( https://github.com/HackerNews/API) and implement the following task:

1. Write a function `get_comments` that takes `storyid` as a parameter and returns a dataframe of all the comments below the news story. You can ignore 'dead' comments (you will know it when you see it). **Make sure the order of the comments in your dataframe is from top to bottom just as you see on the website**. You are allowed to use loops in this function. Addtional requirement: write at least one helper method

You only want these information for the comments:
1. `id`: the unique ids
2. `by`: the author of the comment
3. `parent`: who (also in unique ids) they are replying to
4. `text`: the actual comment
5. `time`: when the comment is created (in `pd.datetime` format)

Hints:
1. Use depth-first-search when traversing the comments tree.
2. https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-stacks.
3. Check the size of your dataframe to the story's `descendants` attribute (number of comments).

In [424]:
storyid = 18344932

In [425]:
news_endpoint = f"https://hacker-news.firebaseio.com/v0/item/{storyid}.json"

In [426]:
response = requests.get(news_endpoint).json()

In [436]:
response

{'by': 'ScottWRobinson',
 'descendants': 18,
 'id': 18344932,
 'kids': [18380397,
  18346406,
  18348601,
  18346750,
  18346476,
  18346746,
  18346388],
 'score': 47,
 'time': 1540987334,
 'title': 'TimescaleDB 1.0 Is Production Ready',
 'type': 'story',
 'url': 'https://blog.timescale.com/1-0-enterprise-production-ready-time-series-database-open-source-d32395a10cbf'}

In [482]:
graph = response
graph

{'by': 'ScottWRobinson',
 'descendants': 18,
 'id': 18344932,
 'kids': [18380397,
  18346406,
  18348601,
  18346750,
  18346476,
  18346746,
  18346388],
 'score': 47,
 'time': 1540987334,
 'title': 'TimescaleDB 1.0 Is Production Ready',
 'type': 'story',
 'url': 'https://blog.timescale.com/1-0-enterprise-production-ready-time-series-database-open-source-d32395a10cbf'}

In [513]:
data = []

In [504]:
def dfs(graph, data, start='kids', visited):
    
    for i in range(len(graph[start])):
        comm_id = graph[start][i]
        comment_endpoint = f"https://hacker-news.firebaseio.com/v0/item/{comm_id}.json"
        comm_response = requests.get(comment_endpoint).json()
        if 'dead' in comm_response or 'kids' not in comm_response:
            data.append(comm_response)
            continue
        comms = comm_response
        dfs(comms, data)
    
    data.append(comm_response)

SyntaxError: non-default argument follows default argument (<ipython-input-504-9b0e2ea2884a>, line 2)

In [520]:
def DFS(comments, u , data, status=None):
    if status is None:
        status = {user_id: 'U' for user_id in comments['kids']}
        
    status[u] = 'P'
    for v in comments['kids']:
        if status[v] == 'U':
            DFS(comments, v, status)
    status[u] = 'V'
    url = f"https://hacker-news.firebaseio.com/v0/item/{u}.json"
    data.append(request.get(url).json())

In [523]:
def full_DFS(comments, data):
    status = {i: 'U' for i in comments['kids']}
    for user_id in comments['kids']:
        if status[user_id] == 'U':
            DFS(graph['kids'], graph['kids'][0], data, status)

In [524]:
full_DFS(graph, data)

TypeError: list indices must be integers or slices, not str

In [497]:
pd.DataFrame(data)

,by,id,parent,text,time,type,kids,dead
0,valyala,18380397,18344932,TimescaleDB is great for storing time series c...,1541400799,comment,NaN,NaN
1,msiggy,18346406,18344932,I&#x27;m excited to give this database a try i...,1540999222,comment,NaN,NaN
2,RobAtticus,18351061,18350673,It does not support sharding writes across mul...,1541039703,comment,NaN,NaN
3,RobAtticus,18351061,18350673,It does not support sharding writes across mul...,1541039703,comment,NaN,NaN
4,sman393,18350673,18349540,Alright thanks! I thought I read that Timescal...,1541034719,comment,[18351061],NaN
5,RobAtticus,18349540,18348984,Not sure I follow exactly what you&#x27;re ask...,1541022440,comment,[18350673],NaN
6,sman393,18348984,18348631,Good to hear! how does the current TimescaleDB...,1541017426,comment,[18349540],NaN
7,RobAtticus,18348631,18348601,"Yep, absolutely. Regular PostgreSQL tables coe...",1541014492,comment,[18348984],NaN
8,nevi-me,18347260,18346750,I spent about 8 months writing data to TSDB. I...,1541004454,comment,NaN,NaN
9,dominotw,18347555,18346750,They have some numbers on their blog. Its very...,1541006374,comment,NaN,NaN
10,dominotw,18347555,18346750,They have some numbers on their blog. Its very...,1541006374,comment,NaN,NaN
11,grumpydba,18347232,18346702,"Hi,<p>are the upcoming clustering efforts deve...",1541004279,comment,NaN,NaN
12,grumpydba,18347232,18346702,"Hi,<p>are the upcoming clustering efforts deve...",1541004279,comment,NaN,NaN
13,jason_slack,18349689,18346476,What were the specs of the machine you were us...,1541024187,comment,NaN,NaN
14,jason_slack,18349689,18346476,What were the specs of the machine you were us...,1541024187,comment,NaN,NaN
15,athenot,18346822,18346787,"Thanks a lot, this is useful for comparing.<p>...",1541001629,comment,NaN,NaN
16,athenot,18346822,18346787,"Thanks a lot, this is useful for comparing.<p>...",1541001629,comment,NaN,NaN
17,RobAtticus,18346787,18346746,"We do have comparisons, but judging by their M...",1541001399,comment,[18346822],NaN
18,jymit,18346388,18344932,"<a href=""https:&#x2F;&#x2F;blog.timescale.com&...",1540999108,comment,NaN,True
19,jymit,18346388,18344932,"<a href=""https:&#x2F;&#x2F;blog.timescale.com&...",1540999108,comment,NaN,True

In [429]:
comments = []
for id in comment_ids:
    comments.append(get_commenters(id))

In [454]:
comments[-1]

{'by': 'jymit',
 'dead': True,
 'id': 18346388,
 'parent': 18344932,
 'text': '<a href="https:&#x2F;&#x2F;blog.timescale.com&#x2F;announcing-1-0-enterprise-ready-time-series-database-sql-open-source-400b4342dfa0" rel="nofollow">https:&#x2F;&#x2F;blog.timescale.com&#x2F;announcing-1-0-enterprise-ready-t...</a><p>exciting times!',
 'time': 1540999108,
 'type': 'comment'}

In [430]:
pd.DataFrame(comments)

,by,id,parent,text,time,type,kids,dead
0,valyala,18380397,18344932,TimescaleDB is great for storing time series c...,1541400799,comment,NaN,NaN
1,msiggy,18346406,18344932,I&#x27;m excited to give this database a try i...,1540999222,comment,NaN,NaN
2,sman393,18348601,18344932,Can this be used side by side on normal Postgr...,1541014179,comment,[18348631],NaN
3,zip1234,18346750,18344932,How fast is it when it has a TB of data? I rea...,1541001103,comment,"[18347260, 18347555]",NaN
4,dominotw,18346476,18344932,I evaluated this heavily but had to backoff be...,1540999649,comment,"[18346702, 18349689]",NaN
5,athenot,18346746,18344932,It would be nice if they did a quick compariso...,1541001073,comment,[18346787],NaN
6,jymit,18346388,18344932,"<a href=""https:&#x2F;&#x2F;blog.timescale.com&...",1540999108,comment,NaN,True

## Congratulations! You're done!

* Submit the lab on Gradescope